
@font-face {
    font-family: "docallisme";
    src: url("./components//fonts/docallisme/DOCALLISME\ ON\ STREET.ttf");
}
@font-face {
    font-family: "tiza";
    src: url("./components/fonts/tiza.ttf");
}